{% extends "template1.html.twig" %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block menuhaut %}
{% include "public/menuHautPublic.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Accueil </h1>
                <p class="lead">Affichage de tous vos articles et leurs catégories</p>
            </div>
            <div class="col-lg-6 text-left">
               
            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}