<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="..">Accueil
            <span class="sr-only">(current)</span>
        </a>
    </li>
    {# ici vous devez afficher vos catégories clicables entre <li> #}
    {% for categ in afficheMenu %}
    <li class="nav-item"><a class="nav-link" href="?idcateg={{ categ.idjilliancateg }}">{{ categ.jilliancategnom }}</a></li>     
    {% endfor %}
    <li class="nav-item"><a class="nav-link" href="?disconnect">Déconnexion</a></li>
</ul>